<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g2k.calendy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calendy">
        <activity android:name=".AddNewGoalActivity"></activity>
        <activity
            android:name=".AddNewReminderActivity"
            android:label="Add New Reminder"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewEventActivity"
            android:label="Add New Event"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>